<div class="wrapper" *ngIf="userDetails"  >
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{userDetails.fullName}}<br /></h4>
                    <h6 class="title">{{userDetails.email}}</h6>
                    <div *ngIf="userDetails.dec">
                            <h6 class="description">{{userDetails.dec}}</h6>
                    </div>
                    <div *ngIf="!userDetails.dec">
                            <h6 class="description">codeFix Programmer</h6>
                        </div>
                </div>
            </div>
            <div class="row" *ngIf="!userDetails.dec">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p> Analyzing Information , Problem Solving, Software Algorithm Design, Software Performance Tuning, Attention to Detail, Software Design, Software Debugging, Software Development Fundamentals, Software Documentation, Software Testing </p>
                    <br />
                    <button class="btn btn-outline-default btn-round" [routerLink]="['/user-profile']" ><i class="fa fa-cog"></i> Done</button>
                   
                </div>
            </div>
        
            </div>
            </div>
            </div>
            