<div class="wrapper" *ngIf="userDetails"  >
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{userDetails.fullName}}<br /></h4>
                    <h6 class="title">{{userDetails.email}}</h6>
                    <div *ngIf="userDetails.dec">
                            <h6 class="description">{{userDetails.dec}}</h6>
                    </div>
                    <div *ngIf="!userDetails.dec">
                            <h6 class="description">codeFix Programmer</h6>
                        </div>
                </div>
            </div>
            <div class="row" *ngIf="!userDetails.dec">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p> Analyzing Information , Problem Solving, Software Algorithm Design, Software Performance Tuning, Attention to Detail, Software Design, Software Debugging, Software Development Fundamentals, Software Documentation, Software Testing </p>
                    <br />
                    <button class="btn btn-outline-default btn-round" [routerLink]="['/user-profile-edit']"><i class="fa fa-cog"></i> Edit</button>
                    <button class="btn btn-outline-default btn-round" (click)="onLogout()"> <i class="nc-icon nc-simple-remove"></i>Logout</button>
                    <br><br>
                    <button type="button" class="btn btn-primary btn-round btn-lg" [routerLink]="['/landing']">  <i class="nc-icon nc-diamond"></i>&nbsp; &nbsp;Explore</button>
                </div>
            </div>
        
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Follows">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>Musical Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Following">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>

      