<div class="row">
  <div class="col-sm-12">
      <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
          <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
            [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
          <div *ngIf="signInForm.submitted && email.errors?.pattern">
            <label class="validation-message">Invalid email address.</label>
          </div>
          <br>
          <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"
            [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
          <div *ngIf="signInForm.submitted && password.errors?.minlength">
            <label class="validation-message">Minimum 4 characters.</label>
          </div>
        <br>
          <input  class="btn btn-danger btn-block btn-round" type="submit" value="Sign In">
        </form>
        <!-- Error message -->
      <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
  </div>
</div>
  